body {
	margin: 0;
	padding: 0;
}

.header {
	margin: 0;
	padding: 0;
}
.box {
    height: 70px;
    background-color: #202020;
}
.box h3 {
    font-family: cursive;
    padding-left: 18px;
    padding-top: 15px;
    color: #FFBB33;
    margin: 0;
}
.box p {
    font-size: 16px;
}

.success {
    margin-top:15px;
    margin-left:10px;
    background-color: #FFBB33;
    height: 40px;     
    width: 100px;
}

.body {
    margin: 0;
	padding: 0;
	height: 650px;
	background-image: url("/cakephp/img/bg.jpg");
}
.foot {
    background-color:#202020;
    height: 40px;
    
}
.foot p{
    margin: 0px;
    color: #FFBB33;
    font-size: 18px;
    font-family: cursive;
    padding-left: 100px;
    padding-top: 7px;
    
}
.reg-form {
    margin-top:50px;
    border: 1px solid #ccc;
    height: 450px;
    background-color: whitesmoke;  
}
.input-group {
    padding: 10px;
}
#submit {
    color: black;
    background-color: yellowgreen;
}
.modal-header, h4, .close {
      background-color: #A9A9A9;
      color:white !important;
      text-align: center;
      font-size: 30px;
}
.modal-footer {
    background-color:#CCCCCC ;
}
.name {
    margin-top: 8px;
}
.feedback-div {
   margin-top: 45px;
   height: 550px;
   background-image: url("image/bg1.jpg");
}

.feedback-form {
   color: #231F20;
   font-family: comic sans MS;
}

.h {
    margin: 0;
    text-align: center;
    padding: 3px;
}
.feedbackbody {
    margin: 0;
	padding: 0;
	height: 650px;
	background-image: url("bg.jpg");
}
.homebody{
    margin: 0;
	padding: 0;
	height: 650px;
	background-color: #EEEEEE;
}