<!DOCTYPE html>
<html>
    
    <head>
    </head>
    
    <body>
        <p> Student name is <?php echo $name ;?> </p>
        <p> Id is echo <?php echo $id ;?> </p>
        <p>Department is <?php echo $dept ;?> </p>
        <p>Section  is <?php echo $sec ;?> </p>
    </body>
    
</html>
