<div id = "content">
    <p> Student name is <?php echo $name ;?> </p>
    <p> Id is <?php echo $id ;?> </p>
    <p>Department is <?php echo $dept ;?> </p>
    <p>Section  is <?php echo $sec ;?> </p>
</div>